<nav class="navbar is-fixed-top is-transparent is-spaced" role="navigation" aria-label="main navigation">
 <div class="container">
  <div class="navbar-brand">

    <a class="navbar-item" href="/">
      <strong>Aditiya Nofril Saputra</strong>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menubar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="menubar" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item my-auto is-expanded" id="nav-home">
        Home
      </a>

      <a class="navbar-item" id="nav-cv">
        My Cv
      </a>

      <a class="navbar-item" id="nav-project">
        My Project
      </a>

    </div>

  </div>
</div>
</nav>